$detail-head: #81b3d2;
$main-bg: #ffffff;
$head-color: #ffffff;
$shortly-head: #eeeeee;
$border-color: #d6d6d6;
$tablet-width: 768px;
$desktop-width: 1200px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
.advantages__title,
.advantages__detail-title{
  font-size: 18px;
  line-height: 26px;
}
.advantages__detail-list,
.advantages__list{
  margin: 0;
  padding: 0;
}
.advantages__item,
.advantages__detail-item{
  list-style: none;
  position: relative;
}
.advantages__item{
  margin: 0;

}
.advantages__item-detail{
  background-color: $detail-head;
  color: $head-color;
  width: auto;
  padding:{
    top: 20px;
    right: 25px;
    bottom: 20px;
    left: 25px;
  }
}
.advantages__item-shortly{
  padding:{
    top: 20px;
    right: 0;
    bottom: 0px;
    left: 0;
  }
  background-color: $shortly-head;
}
.advantages__item-shortly-wrap{
  border-bottom: 1px solid $border-color;
  margin: 0 20px 0 20px;
  padding: 0 0 20px 0;
  &:last-child{
    border: none;
  }
}
.advantages__image-wrapp{
  position: absolute;
  height: 40px;
  width: 40px;
  border: 1px solid red; //временно
  left: 20px;
}
.advantages__title{
  font-size: 21px;
}
.advantages__description{
  line-height: 21px;
}
.advantages__detail-list{
  text-align: left;
  width: 100%;
  box-sizing: border-box;
}
.advantages__detail-item{
  padding:{
    top: 15px;
    right: 25px;
    bottom: 13px;
    left: 80px;
  }
}
.advantages__detail-title{
  margin:{
    top: 5px;
    right: 0;
    bottom: 10px;
    left: 0;
  }
}
.advantages__detail-text{
  margin: 0;
}
.advantages__image{
  width: 100%;
  height: 260px;
  background:{
    color: #d39c81;
    position: top center;
    repeat: no-repeat;
    size: cover;
  }
}
.advantages__image-1{
  background-image: url(../img/main-city-mobile@1x.jpg);
}
@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx){
  .advantages__image-1{
    background-image: url(../img/main-city-mobile@2x.jpg);
    background-size: 320px auto;
  }
}
.advantages__image-2{
  background-image: url(../img/main-bridge-mobile@1x.jpg);
}
@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx){
  .advantages__image-2{
    background-image: url(../img/main-bridge-mobile@2x.jpg);
    background-size: 320px auto;
  }
}
@media (min-width: $tablet-width){
  .advantages__list{
    display: flex;
    flex-wrap: wrap;
  }
  .advantages__detail-list{
    display: flex;
    text-align: center;
    width: 100%;
  }
  .advantages__detail-item{
    flex-basis: 33,3%;
    padding-top: 60px;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 60px;
    &:nth-child(2){
      order: 3;
    }
  }
  .advantages__image-wrapp{
    position: relative;
    left: 0;
    height: 80px;
    border: none;
  }

  .advantages__image-1{
    background-image: url(../img/main-city-tablet@1x.jpg);
  }
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx){
    .advantages__image-1{
      background-image: url(../img/main-city-tablet@2x.jpg);
      background-size: 512px auto;
    }
  }
  .advantages__image-2{
    background-image: url(../img/main-bridge-tablet@1x.jpg);
  }
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx){
    .advantages__image-2{
      background-image: url(../img/main-bridge-tablet@2x.jpg);
      background-size: 512px auto;
    }
  }
  .advantages__detail-title{
    font-size: 21px;
  }
  .advantages__item-shortly{
    width: 33.3%;
    margin: 0;
  }
  .advantages__wrapp{
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .advantages__wrapp-revers{
    flex-direction: row-reverse;
  }
  .advantages__item-detail{
    width: 66,3%;
  }
  .advantages__image{
    width: 33,3%;

  }
}

@media (min-width: $desktop-width){
  .advantages__detail-item{

  }
  .advantages__image-1{
    background-image: url(../img/main-city-desktop@1x.jpg);
  }
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx){
    .advantages__image-1{
      background-image: url(../img/main-city-desktop@2x.jpg);
      background-size: 768px auto;
    }
  }
  .advantages__image-2{
    background-image: url(../img/main-bridge-desktop@1x.jpg);
  }
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx){
    .advantages__image-2{
      background-image: url(../img/main-bridge-desktop@2x.jpg);
      background-size: 768px auto;
    }
  }
}
