$navy: #81b3d2;
.button{
  text-decoration: none;
  border: none;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 100%;
  padding:{
    top: 16px;
    bottom: 16px;
  }
  background-color: $navy;
  color: #ffffff;
  font:{
    family: 'PT Sans', sans-serif;
    size: 18px;
    weight: 700;
  }
}
