$tablet-width: 768px;
$desktop-width: 1200px;
.feedback-form__field{
  border-bottom: 1px solid #e5e5e5;
  padding: 15px;
  font-size: 18px;
  font-weight: 700;
  width: 280px;
  margin: 0 auto;
}

.feedback-form__subscribe{
  text-transform: none;
}
.feedback-form__subscribe-input{
  font-weight: 500;
}
.feedback-form__input[placeholder]{
  font: inherit;
  font-weight: 700;
  color: #000000;
  padding: 5px;
  background-color: #f2f2f2;
  border: none;
}
@media (min-width: $tablet-width){
  .feedback-form__form{
    display: flex;
    flex-wrap: wrap;
  }
  .feedback-form__field{
    border: none;
  }
  .feedback-form__field-impression{
    order: 1;
    flex-basis: 50%;
  }
  .feedback-form__field-name{
    order: 2;
  }
  .feedback-form__field-contacts{
    order: 3;
    flex-basis: 100%;
  }
  .feedback-form__field-advantages{
    order: 4;
    flex-basis: 100%;
  }
  .feedback-form__field-review{
    order: 5;
    flex-basis: 100%;
  }
  .feedback-form__button{
    order: 6;
    flex-basis: 50%;
  }

}
