.find-hotel{
  margin: 0;
  padding:{
    top: 20px;
    right: 0;
    bottom: 20px;
    left: 0;
  }
}
.find-hotel-wrap{
  padding: 0 25px 0 25px;
}
.find-hotel__title{
  font-size: 21px;
  line-height: 26px;
}
