$nav-bg: #81b3d2;
$border-bottom: #678fa8;
$border-top: #9ac2db;
$font-color: #ffffff;
$tablet-width: 768px;
$desktop-width: 1200px;
.main-nav {
  background-color: $nav-bg;
  color: #ffffff;
  font:{
    family: 'PT Sans', sans-serif;
    size: 18px;
    weight: 700;
  }
  line-height: 40px;
}
.main-nav__list{
  margin: 0;
  padding: 0;
  list-style: none;
}
.site-list__item{
  margin: 0;
  padding: 0;
  text-align: center;

  border:{
    bottom: 1px solid $border-bottom;
    top: 1px solid $border-top;
  }
  &:first-of-type:last-child{
    border-bottom: none;
  }
}

.site-list-logo{
  border: none;
  background-color: #ffffff;
  height: 56px;
}
.site-list__link{
  display: inline-block;
  vertical-align: middle;
  padding:{
    top: 7px;
    bottom: 7px;
  }
  text-decoration: none;
  width: 100%;
  color: $font-color;
}
.site-list-right .site-list__item:nth-child(2){
  border-bottom: none;
}
.main-nav__toggle{
  position: absolute;
  height: 32px;
  width: 32px;
  bottom: 10px;
  right: 20px;
}
@media (min-width: $tablet-width) {
  .main-nav__list{
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    width: 40%;
    align-items: center;
    background-color: #ffffff;
  }
  .site-list__item{
    margin-left: 0;
    background-color: #ffffff;
    border: none;
    flex-basis: 50%;
  }
  .site-list-right{
    margin-left: auto;
  }
  .site-list-logo{
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -50px;
    background-color: transparent;
  }
  .site-list__link{
    color: #000000;
    font-size: 14px;
    line-height: 26px;
  }
  .main-nav__toggle{
    display: none;
  }
}
