.main-nav{
}
.main-nav__list{
  margin: 0;
  padding: 0;
}
.site-list__item{
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
}
.site-list__link{
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
}
