$border-color: #e5e5e5;
$tablet-width: 768px;
$desktop-width: 1200px;
.media__photo-item {
  margin: 0 auto;
  text-align: left;
  border-top: 1px solid $border-color;
  &:last-child{
    border-bottom: 1px solid $border-color;
  }
  box-sizing: border-box;
}

.media__image-wrapp{
  display: flex;
  width: 100%;
  margin: 20px auto 0 auto;
}
.media__image-img{
  max-width: 100%;
  height: auto;
}
.media__wrapp{
  padding-top: 20px;
  padding-right: 6.3%;
  padding-left: 6.3%;
}

.media__title{
  margin: 0;
}
.media__description{
  width: 100%;
  margin: 0 auto 5px auto;
}
.media__author{
  text-transform: none;
  text-align: 24px;
}
.media__video-wrapp{
  width: 100%;
  margin: 0 auto;
}
@media (min-width: $tablet-width){
  .media__photo-item-wrapp{
    display: flex;
    flex-wrap: wrap;
  }
  .media__photo-item{
    border: none;
    width: 50%;
    padding-bottom: 0;
    margin: 0;
  }
  .media__big-photo{
    width: 100%;
    background-color: #c47532;
  }
  .media__image-wrapp{
    margin: 0 auto;

  }

  .media__image{
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
  }
  .media__wrapp{
    bottom: 0;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .media__description-wrapp{
    background-color: #f2f2f2;
    position: relative;
    align-items: center;
  }
  .media__image-wrapp-big{

    max-width: 100%;
    box-sizing: border-box;
  }
  .media__video{
    width: 100%;
  }
  .media__description{
    margin: 0;
  }
}
@media (min-width: $desktop-width){
  .media__photo-item{
    width: 33.33%;
    position: relative;
  }
  .media__big-photo{
    width: 100%;
    background-color: #c47532;
  }
  .media__description-wrapp{
    color: #ffffff;
    position: relative;
    z-index: 1;
  }

  .media__image-wrapp{
    width: 100%;
  }

  .media__wrapp{
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.3);
  }
  .media__video{
    width: 800px;
    height: 500px;
    margin: 0 auto;
  }
}
