$main-bg: #ffffff;
.page-body{
  min-width: 320px;
  background:{
    color: $main-bg;
  }
  font:{
    family: 'PT Sans', sans-serif;
    size: 14px;
    weight: 500;
    style: normal;
  }
  line-height: 26px;
  text-transform: uppercase;
}
.page-body__container{
  width: 320px;
  margin: 0 auto;
  padding: 0;
}
