$main-bg: #ffffff;
$black: #000000;

.page-footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  background:{
    color: $main-bg;
  }
  font:{
    family: 'PT Sans', sans-serif;
    size: 14px;
    weight: 500;
  }
  line-height: 26px;
  margin: 0;
  padding:{
    top: 20px;
    right: 25px;
    bottom: 20px;
    left: 25px;
  }
}
.page-footer__copiright-link,
.page-footer__hashtag-link{
  text-decoration: none;
  color: $black;
}
.page-footer__hashtag-link{
  font-weight: 700;
}
.page-footer__logo {
  height: 30px;
  display: inline-block;
  vertical-align: bottom;
}
.page-footer__logo-path{
  fill: #000000;
}
