$main-bg: #ffffff;
$black: #000000;
$tablet-width: 768px;
$desktop-width: 1200px;
.page-footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  background:{
    color: $main-bg;
  }
  font:{
    family: 'PT Sans', sans-serif;
    size: 14px;
    weight: 500;
  }
  line-height: 26px;
  margin: 0;
  padding:{
    top: 20px;
    right: 25px;
    bottom: 20px;
    left: 25px;
  }
}
.page-footer__copiright-link,
.page-footer__hashtag-link{
  text-decoration: none;
  color: $black;
}
.page-footer__hashtag-link{
  font-weight: 700;
}
.page-footer__logo {
  height: 30px;
  display: inline-block;
  vertical-align: bottom;
}
.page-footer__logo-path{
  fill: #000000;
}
@media (min-width: $tablet-width){
  .page-footer{
    flex-direction: row;
    justify-content: space-between;
  }
  .page-footer__item{
    flex-basis: 190px;
    display: flex;
    &:nth-child(1){
    justify-content: flex-start;
    }
    &:nth-child(2){
    justify-content: center;
    }
    &:nth-child(3){
    justify-content: flex-end;
    }
  }
}
@media (min-width: $desktop-width){
  .page-footer__item{
    &:nth-child(1){
      justify-content: center;
    }
  }
}
