$main-bg: #ffffff;
.section-header{
  background-color: $main-bg;
  margin: 0;
  padding:{
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 20px;
  }
}
.section-header__title{
  font:{
    size: 18px;
  }
}
.section-header__description{
  line-height: 26px;
}
