$main-bg: #ffffff;
$tablet-width: 768px;
$desktop-width: 1200px;
.section-header{
  background-color: $main-bg;
  margin: 0;
  padding:{
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 20px;
  }
}
.section-header-media{
  text-align: center;
}
.section-header__title{
  font-size: 18px;
}
.section-header__description{
  line-height: 26px;
}
@media (min-width: $tablet-width){
  .section-header{
    width: 500px;
    padding: 20px;
    margin:{
      left: auto;
      right: auto;
    }
  }
  .section-header__title{
    font-size: 30px;
  }
  .page-main .section-header__title{
    font-size: 21px;
  }
  
  .section-header-media{
    width: 430px;
  }
  .section-header-form{
    text-align: center;
    width: 440px;
  }
}
