$nav-bg: #81b3d2;
$tablet-width: 768px;
.main-nav{
  position: relative;
  background-color: $nav-bg;
  color: #ffffff;
  font:{
    size: 18px;
    weight: 700;
  }
  line-height: 40px;
}
.main-nav__list{
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-nav__list--closed{
  display: none;
}
.main-nav__toggle--opend{
  position: absolute;
  height: 34px;
  width: 34px;
  bottom: 12px;
  right: 13px;
  cursor: pointer;
  background-color: #ffffff;
  border: none;
  z-index: 5;
  display: none;
}
.main-nav .main-nav__toggle--opend::before{
  content: "";
  position: absolute;
  top: 13px;
  left: 4px;
  width: 23px;
  height: 3px;
  border-top: 1px solid #c0d9e8;
  border-bottom: 1px solid #c0d9e8;
  background-color: $nav-bg;
  box-shadow: 0 8px 0 0 $nav-bg, 0 -8px 0 0 $nav-bg;
  z-index: 5;
}
.main-nav--opend .main-nav__toggle--closed{
  position: absolute;
  height: 32px;
  width: 32px;
  top: 10px;
  left: auto;
  right: 16px;
  background-color: transparent;
  border: none;

}
.main-nav--opend .main-nav__toggle--closed::before,
.main-nav--opend .main-nav__toggle--closed::after{
  content: "";
  position: absolute;
  top: 14px;
  right: 2px;
  width: 28px;
  height: 3px;
  background-color: #ffffff;
}
.main-nav--opend .main-nav__toggle--closed::before{
  transform: rotate(45deg);
  box-shadow: none;
}
.main-nav--opend .main-nav__toggle--closed::after{
  transform: rotate(-45deg);
}
@media (min-width: $tablet-width){
  .main-nav__wrapper{
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .main-nav__list{
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    width: 40%;
    align-items: center;
    background-color: #ffffff;
  }

  .main-nav__toggle--opend,
  .main-nav__toggle--closed{
    display: none;
  }
}
