
$bg: #81b3d2;
$bg-hover: #669ec0;
$bg-active: #5496bd;
$bg-disabled: #e5e5e5;
.button{
  text-decoration: none;
  border: none;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 100%;
  padding:{
    top: 16px;
    bottom: 16px;
  }

  background-color: $bg;
  color: #ffffff;
  &:hover{
    background-color: $bg-hover;
  }
  &:active{
    background-color: $bg-active;
    color: rgba(255, 255, 255, 0.3);
  }
  &:disabled{
    background-color: $bg-disabled;
  }
  font:{
    family: 'PT Sans', sans-serif;
    size: 21px;
    line-height: 26px;
    weight: 700;
  }
  cursor: pointer;
}
.button--feedback-form{
  text-transform: uppercase;
}
