$main-bg: #ffffff;
$black: #000000;
$tablet-width: 768px;
$desktop-width: 1200px;
.page-footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $main-bg;
  font:{
    size: 14px;
    weight: 500;
  }
  line-height: 26px;
  margin: 0;
  padding: 15px 25px;
}
.page-footer__copiright-link,
.page-footer__hashtag-link{
  text-decoration: none;
  color: $black;
}
.page-footer__hashtag-link{
  font-weight: 700;
  font-size: 21px;
  font-weight: 700;
  display: flex;
  align-items: center;
}
.page-footer__logo{
  display: inline-block;
  vertical-align: bottom;
  margin-top: 12px;
  font-size: 21px;
  margin-right: -1px;
  margin-left: 6px;

}
.page-footer__logo{
  fill: #000000;
}
.page-footer__copiright-link:hover .page-footer__logo{
  fill: #81b3d2;
}
.page-footer__copiright-link:active .page-footer__logo{
  fill: #b2b2b2;
}
@media (min-width: $tablet-width){
  .page-footer{
    flex-direction: row;
    justify-content: space-between;
    padding: 0 65px 0 60px;
  }
  .page-footer__item{
    display: flex;
  }
  .page-footer__hashtag-link{
    padding-top: 3px;
  }
  .page-footer__copiright-link{
    margin-bottom: 11px;
    margin-right: -4px;
  }
  .page-footer__logo{
    display: inline-block;
    vertical-align: bottom;
    margin-top: 12px;
    font-size: 21px;
    margin-right: -5px;
    margin-left: 6px;

  }
}
@media (min-width: $desktop-width){
  .page-footer{
    padding: 1px 50px 0 130px;
  }
  .page-footer__hashtag-link{
    padding-top: 4px;
    padding-left: 2px;
  }
  .page-footer__copiright-link{
    margin-bottom: 11px;
    margin-right: -6px;
  }
  .page-footer__logo{
    margin-top: 12px;
    margin-right: -10px;
    margin-left: 6px;
  }
}
