$bg: #81b3d2;
$bg-hover: #669ec0;
$bg-active: #5496bd;
$tablet-width: 768px;
.social-list{
  margin: 30px 0;
  padding: 0;
  display: flex;
}
.social-item{
  position: relative;
  z-index: 1;
  list-style: none;
  width: 46px;
  height: 48px;
  background-color: $bg;
  &:hover{
    background-color: $bg-hover;
  }
  &:active{
    background-color: $bg-active;
  }
  margin: 0;
  padding: 0;
  margin-right: 6px;
  &:last-child{
    margin-right: 0;
  }
  cursor: pointer;
}
.social-link{
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-link__image{
  fill: #ffffff;
}
.social-link--twitter .social-link__image{
  width: 18px;
  height: 14px;
}
.social-link--faceboock .social-link__image{
  width: 9px;
  height: 18px;
}
.social-link--yuotube .social-link__image{
  width: 20px;
  height: 14px;
}
.social-link:active .social-link__image{
  fill: rgba(255, 255, 255, 0.3);
}
@media (min-width: $tablet-width){

}
@media (min-width: $desktop-width){
  .social-list{
    margin-left: -23px;
  }
  .social{
    flex-basis: 200px;
  }
}
