$tablet-width: 768px;
$desktop-width: 1200px;
.feedback-form{
  position: relative;
  margin-bottom: 50px;
}
.feedback-form__caption{
  text-align: center;
  font-size: 18px;
  margin-bottom: 30px;
}
.feedback-form__description{
  text-align: center;
}
.feedback-form__title{
  position: relative;
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-bottom: 8px;
  margin-top: 12px;
  font-size: 18px;
}
.feedback-form__field-name .feedback-form__title{
  margin-top: 0;
  margin-bottom: 0;
}
.feedback-form__field-contacts .feedback-form__title{
  margin-top: 0;
  margin-bottom: 10px;
}
.feedback-form__field-impression .feedback-form__title{
  margin-top: 0;
  margin-bottom: 10px;
}
.feedback-form__field--advantages .feedback-form__title{
  margin-top: 0;
  margin-bottom: 0;
}
.feedback-form__field{
  border-bottom: 1px solid #e5e5e5;
  font-size: 14px;
  font-weight: 700;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  margin-bottom: 20px;
  padding-left: 6%;
}

.feedback-form__subscribe{
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.feedback-form__subscribe--input{
  font-weight: 500;
  margin-bottom: 0;
}
.feedback-form__input[placeholder]{
  font: inherit;
  font-size: 18px;
  font-weight: 700;
  color: #000000;
  padding: 16px 15px 16px 22px;
  background-color: #f2f2f2;
  border: none;
}
.feedback-form__input::placeholder,
.feedback-form__comment::placeholder{
  color: #000000;
  font-size: 18px;
  line-height: 26px;
  font: inherit;
}
.feedback-form__label{
  display: flex;
}
.feedback-form__input{
  &:hover{
    background-color: #e5e5e5;
  }
  &:focus{
    background-color: #ffffff;
    box-shadow: inset 0 0 0 4px #e5e5e5;
    outline: none;
  }
}
.feedback-form__column{
  padding-top: 10px;
}

.feedback-form__field-name .feedback-form__label{
  margin-bottom: 23px;
}
.feedback-form__field-name .feedback-form__input{
  width: 100%;
  box-sizing: border-box;
}
.feedback-form__field-contacts{
  padding-bottom: 20px;
}
.feedback-form__field-contacts .feedback-form__wrap{
  flex-basis: 100%;
}
.feedback-form__field-contacts .feedback-form__subscribe{
  padding-left: 6%;
  margin-bottom: 5px;
}
.feedback-form__field-contacts .feedback-form__input{
  margin-bottom: 15px;
}
.feedback-form__field-contacts .feedback-form__label{
  display: flex;
  flex-wrap: wrap;
}
.feedback-form__field-contacts .feedback-form__input{
  width: 100%;
  box-sizing: border-box;
}
.feedback-form__field-impression{
  padding-bottom: 22px;
}
.feedback-form__input-picture{
  display: flex;
  flex-basis: 100%;
}
.feedback-form__phone-icon{
  background-color: #e6e6e6;
  flex-shrink: 0;
  height: 57px;
  width: 58px;
  background-image: url(../img/icon-phone.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.feedback-form__email-icon{
  background-color: #e6e6e6;
  flex-shrink: 0;
  height: 58px;
  width: 58px;
  background-image: url(../img/icon-mail.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.feedback-form__field-contacts .feedback-form__subscribe--input{
  display: inline-block;
  vertical-align: middle;
}

.feedback-form__subscribe--input{
  margin-right: 13px;
}
.feedback-form__field--review{
  border: none;
}
.feedback-form__field--review .feedback-form__label{
  flex-wrap: wrap;
}
.feedback-form__field--review .feedback-form__title{
  margin: 10px auto;
}
.feedback-form__field--advantages{
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 8px;
}

.feedback-form__field--advantages .feedback-form__label{
  flex-basis: 280px;
  display: flex;
  margin-bottom: 13px;
}
.feedback-form__field-impression .feedback-form__subscribe,
.feedback-form__field--advantages .feedback-form__subscribe{
  margin-top: 22px;
  margin-bottom: 20px;
  margin-left: 80px;
  text-transform: none;
  font-size: 18px;
}
.feedback-form__field--advantages{
  margin-bottom: 17px;
}
.feedback-form__field-button{
  width: 100%;
}
.feedback-form__checkbox{
  cursor: pointer;
  position: relative;
  width: 52px;
  height: 52px;
  display: none;
  margin-top: 5px;
}
.feedback-form__checkbox + .checkbox-indicator{
  position: absolute;
  height: 55px;
  width: 55px;
  border-radius: 10px;
  background-color: #f2f2f2;
  cursor: pointer;
  &:hover{
    background-color: #e5e5e5;
  }
  &:active{
    background-color: #d5d5d5;
  }
  margin-top: 5px;
}
.feedback-form__checkbox:checked + .checkbox-indicator::before,
.feedback-form__checkbox:checked + .checkbox-indicator::after{
  content: '';
  position: absolute;
  height: 2px;
  background-color: #231f20;
  border: 1px solid #8a8889;

}
.feedback-form__checkbox:checked + .checkbox-indicator::before{
  width: 20px;
  bottom: 26px;
  right: 12px;
  transform: rotate(-45deg);
}
.feedback-form__checkbox:checked + .checkbox-indicator::after{
  width: 10px;
  bottom: 24px;
  left: 16px;
  transform: rotate(45deg);
  border-right: none;
}
.feedback-form__radio{
  width: 56px;
  height: 56px;
  margin-bottom: 13px;
  position: relative;
  display: none;
}
.feedback-form__radio + .checkbox-indicator{
  position: absolute;
  height: 56px;
  width: 56px;
  border-radius: 50%;
  background-color: #f2f2f2;
  cursor: pointer;
  &:hover{
    background-color: #e5e5e5;
  }
  &:active{
    background-color: #d5d5d5;
  }
  margin-top: 5px;
}
.feedback-form__radio:checked + .checkbox-indicator::before{
  content: '';
  position: absolute;
  background-color: #333333;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  top: 17px;
  left: 17px;
}
.feedback-form__comment-wrap{
  display: block;
  flex-basis: 100%;
  box-sizing: border-box;
  text-align: center;
}
.feedback-form__comment-wrap .feedback-form__comment{
  box-sizing: border-box;
  min-width: 100%;
  max-width: 240px;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  height: 160px;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  font: inherit;
}

.feedback-form__field--review{
  padding-left: 20px;
  padding-right: 20px;
}
.feedback-form__field--review .feedback-form__title{
  margin: 0 auto 15px auto;
}
.feedback-form__field-button{
  margin-top: 50px;
}
.feedback-form__footnote{
  display: none;
}
@media (min-width: $tablet-width){
  .feedback-form{
    padding-right: 60px;
    padding-left: 60px;
    margin-bottom: 65px;
  }
  .feedback-form__form{
    margin-top: 40px;
  }
  .feedback-form__title-wrapp{
    text-align: center;

  }
  .feedback-form .feedback-form__title{
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 21px;
  }
  .feedback-form__field-name .feedback-form__title{
    text-align: left;
  }
  .feedback-form__field-impression .feedback-form__title{
    text-align: left;
  }
  .feedback-form__field-impression .feedback-form__label{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .feedback-form__caption{
    font-size: 30px;
  }
  .feedback-form__form{
    display: flex;
    flex-wrap: wrap;
  }
  .feedback-form__field{
    border: none;
    padding-left: 0;
    padding-right: 0;
  }
  .feedback-form__field-impression{
    order: 1;
    flex-basis: 46%;
    margin-left: 0;
    padding-left: 0;
  }
  .feedback-form__field-name{
    order: 2;
    margin-right: 0;
    flex-basis: 41%;
    margin-left: 9%;
  }
  .feedback-form__comment-wrap .feedback-form__comment{
    margin-top: 10px;
    max-width: 648px;
    padding-top: 20px;
    padding-left: 15px;
    padding-bottom: 15px;
  }
  .feedback-form__field--review{
    margin-bottom: 50px;
  }
  .feedback-form__field-button{
    margin-top: 0;
  }
  .feedback-form__footnote{
    display: block;
    order: 6;
    height: 38px;
    position: absolute;
    bottom: 0;
    right: 60px;
  }

  .feedback-form__field-contacts{
    order: 3;
    margin-bottom: 5px;
  }

  .feedback-form__field-contacts .feedback-form__label{
    display: flex;
  }
  .feedback-form__field-contacts .feedback-form__subscribe--input,
  .feedback-form__field-contacts .feedback-form__input{
    flex-grow: 1;
  }
  .feedback-form__field-contacts .feedback-form__title-wrapp{
    margin-bottom: 0;
  }
  .feedback-form__field-contacts .feedback-form__subscribe--input{
    padding-left: 22px;
    font-size: 14px;
  }
  .feedback-form__label-phone{
    margin-bottom: 10px;
  }
  .feedback-form__field--advantages{
    order: 4;
    width: 100%;
    margin-bottom: 20px;
  }
  .feedback-form__field--advantages .feedback-form__wrap{
    flex-basis: 45%;
  }
  .feedback-form__field--advantages .feedback-form__column{
    display: flex;
    margin: 0 auto;
    flex-basis: 70%;
    flex-wrap: wrap;
    padding-top: 0;
    justify-content: space-between;
  }
  .feedback-form__field--review{
    order: 5;
    flex-basis: 100%;
  }
  .feedback-form__field-button{
    order: 6;
    flex-basis: 50%;
  }
  .feedback-form__title-wrapp{
    width: 100%;
    margin-bottom: 30px;
    position: relative;
    &::before,
    &::after{
      content: '';
      position: absolute;
      height: 1px;
      width: 25%;
      background-color: #dbdbdb;
      top: 50%;
    }
    &::before{
      left: 0;
    }
    &::after{
      right: 0;
    }
  }
  .feedback-form__field-contacts .feedback-form__column{
    display: flex;
    flex-wrap: wrap;
  }
  .feedback-form__field-contacts .feedback-form__title,
  .feedback-form__field--advantages .feedback-form__title,
  .feedback-form__field--review .feedback-form__title{
    width: 290px;
    margin: 15px auto;
  }
}
@media (min-width: $desktop-width){
  .feedback-form{
    padding-top: 40px;
    padding-right: 120px;
    padding-left: 120px;
    margin-bottom: 65px;
  }
  .feedback-form__form{
    margin-top: 20px;
  }
  .feedback-form__field-contacts{
    padding-bottom: 5px;
  }
  .feedback-form__field-contacts .feedback-form__subscribe--input{
    padding-left: 0;
  }
  .feedback-form__field-contacts .feedback-form__label{
    align-items: center;
  }
  .feedback-form__hidden{
    display: none;
  }
  .feedback-form__caption{
    font-size: 30px;
  }
  .feedback-form__field--advantages{
    flex-basis: 100%;

    .feedback-form__title-wrapp{
      &::before,
      &::after{
        width: 30%;
      }
    }
  }

  .feedback-form__field-contacts .feedback-form__column,
  .feedback-form__field--advantages  .feedback-form__column{
    flex-basis: 100%;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .feedback-form__field--advantages .feedback-form__wrap{
    flex-basis: 22%;
  }
  .feedback-form__field-contacts .feedback-form__wrap{
    flex-basis: 100%;
  }
  .feedback-form__field-contacts .feedback-form__label{
    display: flex;
    flex-wrap: nowrap;
    flex-basis: 50%;
  }
  .feedback-form__field-contacts .feedback-form__label-phone{
    flex-basis: 41%;
    margin-right: 17%;
  }
  .feedback-form__field-contacts .feedback-form__subscribe{
    flex-shrink: 0;
  }
  .feedback-form__field-contacts .feedback-form__input{
    flex-grow: 1;
  }
  .feedback-form__field-contacts .feedback-form__column{
    padding-top: 60px;
  }
  .feedback-form__footnote{
    right: 120px;
  }
  .feedback-form__comment{
    max-width: 960px;
  }
}
