$detail-head: #81b3d2;
$main-bg: #ffffff;
$head-color: #ffffff;
$shortly-head: #eeeeee;
$border-color: #d6d6d6;
$tablet-width: 768px;
$desktop-width: 1200px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
.advantages{
  margin-bottom: 20px;
}
.advantages__title{
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 5px;
}
.advantages__detail-title{
  margin: 5px 0 18px 0;
  font-size: 18px;
  line-height: 26px;
}
.advantages__item-detail-first .advantages__title{
  margin-top: 50px;
  margin-bottom: 10px;
}
.advantages__item-detail-first{
  background-image: url(../img/bg-triangle.svg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 0 0;
  margin-top: -20px;
}
.advantages__list{
  margin: 0;
  padding: 0;
}
.advantages__detail-list{
  line-height: 21px;
  padding: 25px 0 25px 20px;
  margin: 0;
  text-align: left;
  width: 100%;
  box-sizing: border-box;
}
.advantages__item-shortly-column{
  padding: 0;
}
.section-header--title-media{
  font-size: 30px;
}
.advantages__item{
  list-style: none;
  margin: 0;
}
.advantages__detail-item{
  display: flex;
  list-style: none;
  padding: 5px 25px 14px 0;
  line-height: 21px;
}
.advantages__item-detail{
  background-color: $detail-head;
  color: $head-color;
  width: auto;
  padding: 25px 25px 22px 25px;
}
.advantages__item-shortly{
  padding: 0;
  background-color: #eeeeee;
}
.advantages__item-shortly-wrap{
  border-bottom: 1px solid #d6d6d6;
  font-size: 14px;
  margin: 0 20px 0 20px;
  padding: 10px 10px 14px 10px;
}
.advantages__item-shortly-wrap--last{
  border: none;
}

.advantages__icon{
  height: 40px;
  width: 40px;
  fill: #81b3d2;
}
.advantages__description{
  line-height: 21px;
}

.advantages__detail-text{
  margin: 0;
}
.advantages__image-wrapp{
  height: 40px;
  width: 40px;
  margin-right: 10px;
}
.advantages__image{
  width: 100%;
  height: 260px;
  background:{
    color: #d39c81;
    position: top center;
    repeat: no-repeat;
    size: cover;
  }
}
.advantages__image-1{
  background-image: url(../img/index/main-city-mobile@1x.jpg);
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx){
    background-image: url(../img/index/main-city-mobile@2x.jpg);
    background-size: 320px auto;
  }
}
.advantages__image-2{
  background-image: url(../img/index/main-bridge-mobile@1x.jpg);
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx){
    background-image: url(../img/index/main-bridge-mobile@2x.jpg);
    background-size: 320px auto;
  }
}

@media (min-width: $tablet-width){
  .advantages__detail-list{
    display: flex;
    text-align: center;
    width: 100%;
    padding-bottom: 0;
  }
  .advantages__detail-item{
    flex-basis: 33%;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 60px;
    &:nth-child(2){
      order: 3;
    }
  }
  .advantages__detail-title{
    font-size: 21px;
    margin-bottom: 23px;
  }
  .advantages__item-detail-first .advantages__detail-title{
    margin-top: 0px;
  }
  .advantages__image-wrapp{
    height: 80px;
    width: 100%;
    border: none;
    margin: 0;
    align-self: center;
    padding-bottom: 20px;
  }
  .advantages__item-detail{
    width: 40%;
  }
  .advantages__item-detail-first{
    background-image: none;
    margin-top: 0;
  }
  .advantages__item-detail-first .advantages__title{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .advantages__title{
    font-size: 21px;
    padding-top: 15px;
  }

  .advantages__item-shortly-column{
    display: flex;
    margin: 0;
    padding: 0;
  }
  .advantages__item-shortly-wrap{
    border: none;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 30px;
    margin-left: 39px;
    margin-right: 38px;
  }
  .advantages__item-shortly-wrap .advantages__title{
    margin-bottom: 10px;
  }
  .advantages__item-shortly-wrap  .advantages__description{
    font-size: 14px;
    line-height: 21px;
    padding-top: 5px;
  }
  .advantages__icon{
    width: 140px;
    height: 75px;
  }
  .advantages__image{
    width: 33,3%;
  }
  .advantages__image-1{
    background-image: url(../img/index/main-city-tablet@1x.jpg);
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx){
      background-image: url(../img/index/main-city-tablet@2x.jpg);
      background-size: 512px auto;
    }
  }
  .advantages__image-2{
    background-image: url(../img/index/main-bridge-tablet@1x.jpg);
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx){
      background-image: url(../img/index/main-bridge-tablet@2x.jpg);
      background-size: 512px auto;
    }
  }
  .advantages__item-shortly{
    width: 33.3%;
    margin: 0;
  }
  .advantages__wrapp{
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .advantages__wrapp-revers{
    flex-direction: row-reverse;
  }

}

@media (min-width: $desktop-width){
  .advantages{
    margin-bottom: 40px;
  }
  .advantages__detail-list{
    padding-bottom: 20px;
  }
  .advantages__detail-item{
    padding-top: 30px;
    padding-left: 60px;
    padding-right: 70px;
  }
  .advantages__item-detail{
    width: 37%;
    padding-left: 4.5%;
    padding-right: 4.5%;
  }
  .advantages__item-detail  .advantages__title{
    padding-top: 15px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  .advantages__item-shortly-wrap{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 25px;
  }
  .advantages__item-shortly-wrap .advantages__title{
    margin-left: 25%;
    margin-right: 25%;
  }
  .advantages__image-1{
    background-image: url(../img/index/main-city-desktop@1x.jpg);
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx){
      background-image: url(../img/index/main-city-desktop@2x.jpg);
      background-size: 768px auto;
    }
  }
  .advantages__image-2{
    background-image: url(../img/index/main-bridge-desktop@1x.jpg);
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx){
      background-image: url(../img/index/main-bridge-desktop@2x.jpg);
      background-size: 768px auto;
    }
  }
}
