$tablet-width: 768px;
$desktop-width: 1200px;
.map {
  position: relative;
  background-color: #cadfaa;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  margin-bottom: 20px;
  z-index: 1;
}
.map__image{
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
.map__interactive{
  vertical-align: middle;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 2;
}
@media (min-width: $tablet-width){
  .map{
    margin-bottom: 0;
  }
}
