$tablet-width: 768px;
$desktop-width: 1200px;
.like{
  padding-right: 6.3%;
  padding-bottom: 15px;
  padding-left: 6.3%;
}
.like-button{
  height: 28px;
  width: 28px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 4px;
  border: none;
  cursor: pointer;
  background: transparent;
}
.like-icon path{
  fill: #a9a9a9;
}
@media (min-width: $tablet-width){
  .like{
    position: absolute;
    bottom: 30px;
    right: 6.3%;
    padding: 0;
  }
}
@media (min-width: $desktop-width){
  .like-icon path{
    fill: #ffffff;
  }
}
