$border-color: #e5e5e5;
$tablet-width: 768px;
$desktop-width: 1200px;
.media__photo-item{
  margin: 0 auto;
  text-align: left;
  border-top: 1px solid $border-color;
  &:last-child{
    border-bottom: 1px solid $border-color;
  }
  box-sizing: border-box;
}
.media__image-wrapp{
  display: flex;
  width: 100%;
  margin: 22px auto 0 auto;
  justify-content: center;
}
.media__image-img{
  width: 100%;
  height: auto;
  vertical-align: middle;
}
.media__wrapp{
  padding-top: 13px;
  padding-right: 6.3%;
  padding-left: 6.3%;
}
.media__title{
  margin: 0;
  font-size: 14px;
}
.media__description{
  width: 100%;
  margin: 0 auto 5px auto;
}
.media__author{
  text-transform: none;
  text-align: 24px;
}
.media__video-wrapp{
  width: 100%;
  margin: 7px auto 0;
}
.media__video{
  margin-bottom: 55px;
}
.media__control-panel{
  width: 88%;
  margin: 0 auto;
  background-color: #f2f2f2;
  height: 21px;
  position: relative;
  padding-top: 22px;
  padding-bottom: 22px;
  display: flex;
}
.media__scroll-bar-wrap{
  width: 100%;
  height: 45px;
  position: absolute;
  top: -45px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}
.media__scroll-bar{
  height: 5px;
  width: 86%;
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
  top: 21px;
  left: 7%;
  z-index: 2;
}
.media__scroll-bar-toggle{
  height: 9px;
  width: 9px;
  border-radius: 50%;
  background-color: #ffffff;
  position: absolute;
  top: -2px;
  left: 38px;
  cursor: pointer;
}
.media__video-button{
  position: relative;
  border: none;
  display: inline-block;
  vertical-align: middle;
  height: 24px;
  width: 22px;
  background-repeat: no-repeat;
  background-position: top center;
  background-color: transparent;
  cursor: pointer;
  z-index: 4;
  &:hover > .icon-video{
    fill: #333333;
  }
  &:active > .icon-video{
    fill: #c1c1c1;
  }
}
.media__video-button--replay{
  margin-left: 12px;
  margin-right: auto;
}
.media__video-button--subtitles{
  margin-right: 37px;
  width: 24px;
  height: 20px;
}
.media__video-button--fullscreen{
  margin-right: 33px;
}
@media (min-width: $tablet-width){
  .media{
    padding-left: 60px;
    padding-right: 60px;
  }
  .media__photo-list{
    margin-bottom: 20px;
  }
  .media__photo-item-wrapp{
    display: flex;
    flex-wrap: wrap;
  }
  .media__photo-item{
    border: none;
    width: 50%;
    padding-bottom: 0;
    margin: 0;
  }
  .media__big-photo{
    width: 100%;
    background-color: #c47532;
  }
  .media__image-wrapp{
    margin: 0 auto;
  }
  .media__image{
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
  }
  .media__wrapp{
    bottom: 0;
    display: flex;
    justify-content: space-between;
    padding-bottom: 18px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .media__description-wrapp{
    background-color: #f2f2f2;
    position: relative;
    align-items: center;
  }
  .media__image-wrapp-big{
    width: 100%;
    box-sizing: border-box;
  }
  .media__video-wrapp{
    height: 500px;
    margin-top: 27px;
  }
  .media__video{
    width: 100%;
  }
  .media__control-panel{
    width: 100%;
    margin-top: -93px;
    padding: 0;
    padding-top: 36px;
    height: 47px;
    background-color: transparent;
  }
  .media__scroll-bar-wrap{
    top: 0;
    height: 93px;
  }
  .media__scroll-bar{
    width: 390px;
    top: 45px;
    left: 92px;
  }
  .media__scroll-bar-toggle{
    left: 113px;
  }
  .media__video-button{
    fill: rgba(255, 255, 255, 1);
  }
  .media__description{
    margin: 0;
  }
  .media__video-button--replay{
    margin-left: 20px;
    margin-right: auto;
  }
  .media__video-button--subtitles{
    margin-right: 37px;
    width: 24px;
    height: 20px;
  }
  .media__video-button--fullscreen{
    margin-right: 51px;
  }
}
@media (min-width: $desktop-width){
  .media{
    padding: 0;
  }
  .media__photo-list{
    margin-bottom: 30px;
  }
  .media__photo-item{
    width: 33.33%;
    position: relative;
  }
  .media__big-photo{
    width: 100%;
    background-color: #c47532;
  }
  .media__description-wrapp{
    color: #ffffff;
    position: relative;
    z-index: 1;
  }
  .media__image-wrapp{
    width: 100%;
  }
  .media__scroll-bar{
    width: 540px;
  }
  .media__wrapp{
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.3);
  }
  .media__video{
    width: 800px;
    height: 500px;
    margin: 0 auto 80px auto;
  }
}
